[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
	branch = main
[submodule "lib/weiroll"]
	path = lib/weiroll
	url = https://github.com/aphrafinance/weiroll
	branch = main
[submodule "lib/weird-erc20"]
	path = lib/weird-erc20
	url = https://github.com/d-xo/weird-erc20
